{#
/**
 * @file
 * Default theme implementation to display a formatted like dislike field.
 *
 * Available variables:
 * - like_url: like url.
 * - dislike_url: dislike url.
 * - likes: number of likes.
 * - dislikes: number of dislikes.
 * - disable: show or hide the like/dislike
 * - entity_id: Id of entity(content).
 *
 * @ingroup themeable
 */
#}
{% if disable == 0 %}
  <div class="like_dislike">
      <div class="like">
          <a class="use-ajax" href={{ like_url }}>{{ likes_label }}</a>
          <span id="like-{{ entity_id }}">{{ likes }}</span>
      </div>
      <div class="dislike">
          <a class="use-ajax" href={{ dislike_url }}>{{ dislikes_label }}</a>
          <span id="dislike-{{ entity_id }}">{{ dislikes }}</span>
      </div>
      <div id="like_dislike_status-{{ entity_id }}"></div>
  </div>
{% endif %}
